{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-lg-7 pb-5 text-center">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.Lead | safeHTML }}</p>
        <p class="meta">Open-source MIT Licensed.
            <a href="https://github.com/h-enk/hyas">GitHub v{{ $data := getJSON "https://raw.githubusercontent.com/h-enk/hyas/master/package.json" }}{{ $data.version }}</a>
        </p>
    </div>
</div>
{{ end }}

{{ define "section" }}
<section class="section container-fluid">
    {{- .Content -}}
</section>
{{ end }}
